@page "/carro"
@page "/Carro/{carroId:int}"
@inject CarroBLL carroBLL
@inject NotificationService notification

<EditForm Model="carro" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />

<div class="accordion-item">
    <div class="modal-header">
        <h1>Registro de Vehiculos</h1>
    </div>

    <div class="accordion-body">
        <div class="row">
            <div class="col-md-6">
                <label for="CarroId">CarroId</label>
                <div class="input-group">
                    <InputNumber @bind-Value="carro.CarroId" class="form-control" />
                    <button type="button" class="btn btn-outline-primary" @onclick="Buscar">
                        <span class="oi oi-magnifying-glass"></span>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <label for="Modelo" class="form-label">Modelo</label>
                <InputText @bind-Value="carro.Modelo" class="form-control" id="Modelo" />
                <ValidationMessage For="@(() => carro.Modelo)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Marca">Marca</label>
                <InputText @bind-Value="carro.Marca" class="form-control" />
                <ValidationMessage For="@(() => carro.Marca)" />
            </div>
            <div class="col-md-6">
                <label for="Color">Color</label>
                <InputText @bind-Value="carro.Color" class="form-control" />
                <ValidationMessage For="@(() => carro.Color)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Motor">Motor</label>
                <InputText @bind-Value="carro.Motor" class="form-control" />
                <ValidationMessage For="@(() => carro.Motor)" />
            </div>
            <div class="col-md-6">
                <label for="Anio">Año</label>
                <InputNumber @bind-Value="carro.Anio" class="form-control" />
                <ValidationMessage For="@(() => carro.Anio)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Precio">Precio</label>
                <InputNumber @bind-Value="carro.Precio" class="form-control" />
                <ValidationMessage For="@(() => carro.Precio)" />
            </div>
            <div class="col-md-6">
                <label for="Lugar">Lugar</label>
                <InputText @bind-Value="carro.Lugar" class="form-control" />
                <ValidationMessage For="@(() => carro.Lugar)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Existencia">Existencia</label>
                <InputNumber @bind-Value="carro.Existencia" class="form-control" />
                <ValidationMessage For="@(() => carro.Existencia)" />
            </div>

            <div class="col-md-6">
                <label for="Estado" class="form-label">Estado</label>
                <InputSelect @bind-Value = "carro.Estado" class="form-control">
                <option value="op1">--</option>
                <option value="op1">Nuevo</option>
                <option value="op2">Usado</option>
                </InputSelect>
                <ValidationMessage For="@(() => carro.Estado)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Combustible" class="form-label">Combustible</label>
                <InputSelect @bind-Value = "carro.Combustible" class="form-control">
                <option value="op1">--</option>
                <option value="op2">Gasolina</option>
                <option value="op3">Diésel</option>
                <option value="op4">Gas natural</option>
                <option value="op5">Etanol</option>
                <option value="op6">Biodiesel</option>
                <option value="op7">Hidrógeno</option>
                <option value="op8">Propano</option>
                <option value="op9">Electricidad</option>

                </InputSelect>
                <ValidationMessage For="@(() => carro.Combustible)" />
            </div>

            <div class="col-md-6">
                <label for="TipoDeVechiculo">Tipo de vechiculo</label>
                <InputText @bind-Value="carro.TipoVehiculo" class="form-control" />
                <ValidationMessage For="@(() => carro.TipoVehiculo)" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label for="Transmisión">Transmisión</label>
                <InputSelect @bind-Value = "carro.Transmision" class="form-control">
                <option value="op1">--</option>
                <option value="op2">Transmisión manual</option>
                <option value="op3">Transmisión automática</option>
                </InputSelect>
                <ValidationMessage For="@(() => carro.Transmision)" />
            </div>

            <div class="col-md-6">
                <label for="Cantidad" class="form-label">Cantidad de pasajeros</label>
                <InputNumber @bind-Value="carro.CaantidadPasajeros" class="form-control" />
                <ValidationMessage For="@(() => carro.CaantidadPasajeros)" />
            </div>
        </div>

    </div>



@*Botones*@
<hr>
        <div class="text-center">
            <button type="button" class="btn btn-outline-primary" @onclick="Nuevo"><span class="oi oi-file"></span> Nuevo</button>
            <button type="submit" class="btn btn-outline-success"><span class="oi oi-document"></span> Guardar</button>
            <button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><span class="oi oi-delete"></span> Eliminar</button>
        </div>
    </div>
</EditForm>
@code {
    [Parameter]
    public int carroId {get; set; }

    public Carro carro {get; set; } = new Carro();

    protected override void OnInitialized()
    {
        if(carroId > 0)
        {
            this.carro.CarroId = carroId;
            this.Buscar();
        }
    } 
    private void Buscar()
    {
        var encontrado = carroBLL.Buscar(carro.CarroId);

        if (encontrado != null)
        {
            carro = encontrado;
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Success,
                        Summary = "Se ha encontrado con éxito."
                    });

        }
        else{
            ShowNotification(
                new NotificationMessage
                    {
                        Severity = NotificationSeverity.Warning,
                        Summary = "Error, verifique el Id."
                    }); 
        }
    }

    public void Nuevo()
    {
        this.carro = new Carro();
    }

    public void Guardar()
    {
        if (ValidateCarro())
        {
            var guardado = carroBLL.Guardar(carro);

            if (guardado)
            {
                ShowNotification(
                    new NotificationMessage
                        {
                            Severity = NotificationSeverity.Success,
                            Summary = "Guardado con éxito."
                        });
                Nuevo();
            }
            else
            {
                ShowNotification(
                    new NotificationMessage
                        {
                            Severity = NotificationSeverity.Error,
                            Summary = "ERROR!!. Favor revisar los campos."
                        });
                Nuevo(); 
            }
        }
    }

    public void Eliminar()
    {
        if(carroBLL.Eliminar(carro))
        {
            ShowNotification(
                new NotificationMessage
                {
                    Severity = NotificationSeverity.Success,
                    Summary = "No hay nada para eliminar"
                });

            Nuevo();
        }
        else
        {
            ShowNotification(
                new NotificationMessage
                {
                    Severity = NotificationSeverity.Error,
                    Summary = "Error"
                });
        }
    }

    public bool ValidateCarro()
    {
        var validationResults = new List<ValidationResult>();
        var validationContext = new ValidationContext(carro);

        if (!Validator.TryValidateObject(carro, validationContext, validationResults, true))
        {
            foreach (var validationResult in validationResults)
            {
                ShowNotification(
                    new NotificationMessage
                    {
                        Severity = NotificationSeverity.Error,
                        Summary = validationResult.ErrorMessage
                    });
            }
            return false;
        }
        return true;
    }

    public void ShowNotification(NotificationMessage message)
    {
        notification.Notify(message);
    }
}
