@page "/c_carro"
@inject CarroBLL carroBLL;

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Consulta de productos</h1>
        </div>
            <div class="card-body">
                <div class="row">
                <div class="col-2">
                    <label>Criterio</label>
                    <input type="text" class="form-control" @bind="Criterio" />
                </div>
                <div class="col-2">                    
                    <label class="form-label">Filtro</label>
                    <div class = "input-group">
                    <select class="form-control" @bind="Filtro">
                        <option value="1">CarroId</option>
                        <option value="2">Marca</option>
                        <option value="3">Modelo</option>
                        <option value="4">Color</option>
                        <option value="5">Motor</option>
                        <option value="6">A침o</option>
                        <option value="7">Precio</option>
                        <option value="8">Lugar</option>
                        <option value="9">Estado</option>
                        <option value="10">Combustible</option>
                        <option value="11">Transmisi칩n</option>
                        <option value="12">Tipo De vehiculo</option>
                        <option value="13">Todo</option>
                    </select>
                    <button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="oi oi-magnifying-glass" /></button>  
                </div>
                <div class="row">

                     <div class="Form-group col-10" >
                        <span class="form-group ">Desde</span>
                        <InputDate @bind-Value="FechaInicial" class="form-control" />
                    </div>


                    <div class="Form-group col-10" >
                        <span class="form-group">Hasta</span>
                        <InputDate @bind-Value="FechaFinal" class="form-control"/>
                    </div>
                </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Carro ID</th>
                    <th>Fecha</th>
                    <th>Marca</th>
                    <th>Modelo</th>                  
                    <th>Color</th>    
                    <th>Motor</th>  
                    <th>A침o</th>  
                    <th>Precio</th>   
                    <th>Lugar</th> 
                    <th>Estado</th>
                    <th>Combustible</th>
                    <th>Transmisi칩n</th>
                    <th>Tipo Vehiculo</th>
                    <th>Cantidad de pasajeros</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.CarroId</td>   
                        <td>@item.Fecha</td>      
                        <td>@item.Marca</td>   
                        <td>@item.Modelo</td>   
                        <td>@item.Color</td>
                        <td>@item.Motor</td>
                        <td>@item.Anio</td>
                        <td>@item.Precio</td>
                        <td>@item.Lugar</td>
                        <td>@item.Estado</td>
                        <td>@item.Combustible</td>                        
                        <td>@item.Transmision</td>   
                        <td>@item.TipoVehiculo</td>   
                        <td>@item.CaantidadPasajeros</td>   
                    <td><a href="carro/@item.CarroId">Ver</a></td>

                   </tr>                   
                }  
            </tbody>
        </table>
    </div>

</EditForm>
@code
{
    public string Criterio { get; set; } = "";
    public string Filtro { get; set; } = "";
    public List<Carro> lista { get; set; } = new List<Carro>();
    public DateOnly? FechaInicial { get; set; } = new DateOnly(2010,4,12);
    public DateOnly? FechaFinal { get; set; } = DateOnly.FromDateTime(DateTime.Now);


    protected override void OnInitialized()
    {
        Buscar();
        Filtro = "0";
        lista = carroBLL.GetList(e => true);
    }
    

    public void Buscar()
    {
        if(Criterio!=null)
        {
            switch (Filtro)
            {
                case "1":
                    lista = carroBLL.GetList(o => o.CarroId.ToString().Contains(Criterio.ToLower())); break;
                case "2":
                    lista = carroBLL.GetList(p => p.Marca!.ToLower().Contains(Criterio.ToLower())); break;
                case "3":
                    lista = carroBLL.GetList(p => p.Modelo!.ToLower().Contains(Criterio.ToLower())); break;
                case "4":
                    lista = carroBLL.GetList(p => p.Color!.ToLower().Contains(Criterio.ToLower())); break;
                case "5":
                    lista = carroBLL.GetList(p => p.Motor!.ToLower().Contains(Criterio.ToLower())); break;
                case "6":
                    lista = carroBLL.GetList(o => o.Anio!.ToString().Contains(Criterio.ToLower())); break;
                case "7":
                    lista = carroBLL.GetList(o => o.Precio!.ToString().Contains(Criterio.ToLower())); break;
                case "8":
                    lista = carroBLL.GetList(p => p.Lugar!.ToLower().Contains(Criterio.ToLower())); break;
                case "9":
                    lista = carroBLL.GetList(p => p.Estado!.ToLower().Contains(Criterio.ToLower())); break;
                case "10":
                    lista = carroBLL.GetList(p => p.Combustible!.ToLower().Contains(Criterio.ToLower())); break;
                case "11":
                    lista = carroBLL.GetList(p => p.Transmision!.ToLower().Contains(Criterio.ToLower())); break;
                case "12":
                    lista = carroBLL.GetList(p => p.TipoVehiculo!.ToLower().Contains(Criterio.ToLower())); break;
                default:
                    lista = carroBLL.GetList(o => true); break;
            }
        }
        else
        {  
            lista = carroBLL.GetList(e => e.Fecha >= FechaInicial && e.Fecha <= FechaFinal);
        }

    } 
}
