@page "/c_cliente"

@inject ClienteBLL clienteBLL

<EditForm Model="clienteBLL">
    <div class="card">    
    
        <div class="card-header">
            <h4>Consulta Cliente
                  <div class="oi oi-people"></div>
            </h4>
        </div>
  
       <div class="card-body">
            <form>
                <div class="input-group d-flex align-items-end">

                  <div class="form-group col-md-3">
                  <InputSelect class="form-select text-14" @bind-Value="Filtro">                                
                        <option value="0">Id</option>
                        <option value="1">Nombre</option>
                    </InputSelect>
                    </div>
               <div class="Form-group col-md-1"></div>
    
                   <div class="Form-group col-3" >
                        <label>Criterio</label>
                        <InputText class="form-control" @bind-Value="Criterio" placeholder="Ingrese el criterio de busqueda"  />
                    </div>
                    <button type="button" class="btn btn-outline-primary" @onclick="Consultar"><i class="oi oi-magnifying-glass" /></button>                   
                </div>
            </form>
        </div>
    
         <table class="table table-light table-striped table-bordered">
            <thead class="thead">
                <tr class="table">

                    <th>ClienteId</th>
                    <th>Nombre</th>
                    <th>Apellido</th>    
                    <th>CorreoElectronico</th>  
                    <th>Telefono</th>              
                </tr>
            </thead>
          <tbody>
                @foreach (var item in Lcliete)
                {
                    <tr>
                        <td>@item.ClienteId</td>                      
                        <td>@item.Nombre</td>                      
                        <td>@item.Apellido</td>
                        <td>@item.CorreoElectronico</td>
                        <td>@item.Telefono</td>
                    </tr>                   
                }          
            </tbody>         
        </table>
 </div>
</EditForm>

@code{
    
    #nullable disable 
    public string Filtro;
    public string Criterio;
    public List<Cliente> Lcliete { get; set; } = new List<Cliente>();
    public Cliente cliente { get; set; } = new Cliente();    
    bool listado = false;


  protected override void OnInitialized()
    {
        Filtro = "0";
        Lcliete = clienteBLL.GetList(e => true);
    }
    private void Consultar()
    {
        Lcliete = new List<Cliente>();
        cliente = new Cliente();

        if (Criterio != null)
        {
            switch (Filtro)
            {
                case "0": 
                        Lcliete = clienteBLL.GetList(e => e.ClienteId == int.Parse(Criterio));
                    break;

                case "1": 
                        Lcliete = clienteBLL.GetList(p => p.Nombre.ToLower().Contains(Criterio.ToLower()));
                    break;     
            }
        }
    }
}