@page "/c_venta"
@inject VentaBLL ventaBLL;

<EditForm Model="lista">
    <DataAnnotationsValidator />
    <div class="card">
        <div class="card-header">
            <h1>Consulta de ventas</h1>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-2">
                    <label>Criterio</label>
                    <input type="text" class="form-control" @bind="Criterio" />
                </div>
                <div class="col-2">                    
                    <label class="form-label">Filtro</label>
                    <div class = "input-group">
                    <select class="form-control" @bind="Filtro">
                        <option value="1">VentaId</option>
                        <option value="2">Fecha</option>
                        <option value="3">ClienteId</option>
                        <option value="4">VehiculoId</option>
                        <option value="5">Concepto</option>
                        <option value="6">Todo</option>
                    </select>
                    <button type="button" class="btn btn-outline-primary" @onclick="Buscar"><i class="oi oi-magnifying-glass" /></button>  
                </div>
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>VentaId</th>
                    <th>Fecha</th>
                    <th>ClienteId</th>                  
                    <th>VehiculoId</th>    
                    <th>Concepto</th>  
                </tr>
            </thead>
            <tbody>
                @foreach (var item in lista)
                {
                    <tr>
                        <td>@item.VentaId</td>                      
                        <td>@item.Fecha</td>   
                        <td>@item.ClienteId</td>   
                        <td>@item.CarroId</td>
                        <td>@item.Concepto</td>
                   </tr>                   
                }  
            </tbody>
        </table>
    </div>
</EditForm>

@code
{
    public string Criterio { get; set; } = "";
    public string Filtro { get; set; } = "";
    public List<Venta> lista { get; set; } = new List<Venta>();

    protected override void OnInitialized()
    {
        Buscar();
    }

    public void Buscar()
    {
        switch (Filtro)
        {
            case "1":
                lista = ventaBLL.GetList(o => o.VentaId.ToString().Contains(Criterio.ToLower())); break;
            case "2":
               // lista = ventaBLL.GetList(p => p.Fecha!.ToLower().Contains(Criterio.ToLower())); 
               break;
            case "3":
                lista = ventaBLL.GetList(o => o.ClienteId.ToString().Contains(Criterio.ToLower())); break;
            case "4":
                lista = ventaBLL.GetList(o => o.CarroId.ToString().Contains(Criterio.ToLower())); break;
            case "5":
                lista = ventaBLL.GetList(p => p.Concepto!.ToLower().Contains(Criterio.ToLower())); break;
            default:
                lista = ventaBLL.GetList(o => true); break;
        }
    }
}